.App{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  border: 2px solid forestgreen;
  width: 800px;
  height: 200px;
  border-spacing: initial;
}  
th {
  border-bottom: 1px solid black;
  border: 2px solid black;
  background-color: #b6adad;
}
button{
  width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover {
  color: white;
  font-weight: bold;
}
.Equities{
  background-color: blue;
}
.Credit{
  background-color: green;
}
.Macro{
  background-color: white;
}
.positive{
  color: black;
}
.negative{
  color: red;
}
td {
  text-align: left;
  border: 1px solid black;
}